<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fidelity.leap.sprint6.AccountMapper">

    <select id="findInstrument" resultType="com.fidelity.leap.sprint6.InstrumentRow">
        SELECT instrument_id AS instrumentId, ticker, asset_class AS assetClass
        FROM instruments
        WHERE ticker = #{ticker}
    </select>

    <select id="findHolding" resultType="com.fidelity.leap.sprint6.HoldingRow">
        SELECT h.client_id AS clientId, h.quantity AS quantity, i.ticker AS ticker
        FROM client_holdings h
        JOIN instruments i ON h.instrument_id = i.instrument_id
        WHERE h.client_id = #{clientId} AND i.ticker = #{ticker}
    </select>

</mapper>
