.reporting-home {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.home-content {
  display: grid;

  grid-template-columns:
    minmax(250px, 1fr)
    minmax(400px, 500px)
    minmax(250px, 1fr);

  gap: 40px;
  align-items: start;
}

.employee-area {
  width: 100%;
}

.customer-area {
  width: 100%;
}

.reports-area {
  width: 100%;
}

@media (max-width: 1000px) {

  .home-content {
    grid-template-columns: 1fr;
  }

  .employee-area,
  .customer-area,
  .reports-area {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}